$primary-text: #212121;
$secondary-text: #727272;
$divider: #b6b6b6;
$accent: #073642;
$primary: #002B36;
$text-on-primary: #ffffff;
$body: #fafafa;

$shadow-low: 0px 2px 8px 0px rgba($primary, 0.3);
$shadow-med: 0px 4px 12px 0px rgba($primary, 0.2);
$shadow-high: 0px 8px 16px 0px rgba($primary, 0.1);

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -40px;
}

footer, .push {
	height: 40px;
}

* {
	transition: box-shadow 0.2s ease-in-out;
}

input[type="button"],
input[type="submit"],
button,
.button,
.image,
.panel .container {
	box-shadow: $shadow-low;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover,
.button:hover
.image:hover {
	box-shadow: $shadow-med;
}

a {
	color: $accent;
	text-decoration: none;
	&:hover {
		color: $accent;
		text-decoration: underline;
	}
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	background-color: $primary;
	border-color: $primary;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	background-color: darken($primary, 5%);
	border-color: darken($primary, 5%);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid $primary;
}

body {
	background: transparent radial-gradient(60% 900px at center 800px , $accent 0%, $primary 100%) repeat scroll 0% 0%;
	background-attachment: fixed;
	color: $primary-text;
}

.panel {
	padding: 60px 0;
	max-width: 100%;
	width: 100%;
	display: table;
	.container {
		background-color: rgba($body, 0.9);
		padding: 20px;
	}
}

.form {
	input, button {
		width: 100%;
	}
}

.divider {
	border-bottom: 1px solid $divider;
	margin: 10px auto;
	width: 100%;
}

label {
	height: 24px;
	padding: 6px 10px;
	line-height: 24px;
}

footer {
	max-width: 100%;
	width: 100%;
	display: table;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	color: $text-on-primary;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: .2rem;
	font-weight: 600;
}

nav {
	max-width: 100%;
	width: 100%;
	display: table;
	margin: 0 auto;
	height: 60px;
	line-height: 60px;
	color: $text-on-primary;
	ul {
		margin: 0px auto;
		li {
			margin: 0px 20px;
			display: inline-block;
			position: relative;
			a {
				text-transform: uppercase;
				font-size: 1.4rem;
				letter-spacing: .2rem;
				font-weight: 600;
				color: $text-on-primary;
				&:hover {
					color: $text-on-primary;
				}
			}
		}
	}
}

.image {
	display: block;
	background: darken($body, 5%) none repeat scroll 0% 0%;
	border: 1px solid darken($body, 10%);
	padding: 1rem 1.5rem;
	margin: 0px 0.2rem;
	border-radius: 4px;
	img, .placeholder {
		width: 100%;
	}
	.placeholder {
		font-size: 3em;
		line-height: 100%;
		text-align: center;
		font-variant: small-caps;
		a {
			color: $primary-text !important;
			text-decoration: none !important;
		}
	}
}

.thumbnails-row {
	margin: 0.2rem 0px;
}

table .image {
	max-width: 100px;
	.placeholder {
		font-size: 1em;
	}
}

.pagination {
	margin-top: 20px;
	input[type="button"] {
		font-size: 1.25em;
	}
}
