a {
  color: #0091ea;
  text-decoration: none; }
  a:hover {
    color: #0091ea;
    text-decoration: underline; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #673ab7;
  border-color: #673ab7; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #9575cd;
  border-color: #9575cd; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #673ab7; }

body {
  background-color: #fafafa;
  color: #212121; }

.panel {
  padding: 60px 0;
  max-width: 100%;
  width: 100%;
  display: table; }

.form input {
  width: 100%; }

.divider {
  border-bottom: 1px solid #b6b6b6;
  margin: 10px auto;
  width: 100%; }

label {
  height: 24px;
  padding: 6px 10px;
  line-height: 24px; }

nav {
  max-width: 100%;
  width: 100%;
  display: table;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  background-color: #673ab7;
  color: #ffffff; }
  nav ul {
    margin: 0px auto; }
    nav ul li {
      margin: 0px 20px;
      display: inline-block;
      position: relative; }
      nav ul li a {
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: .2rem;
        font-weight: 600;
        color: #ffffff; }
        nav ul li a:hover {
          color: #ffffff; }
