html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  margin: 0 auto -40px; }

footer, .push {
  height: 40px; }

* {
  transition: box-shadow 0.2s ease-in-out; }

input,
button,
textarea,
select,
option {
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  border-radius: 0 !important; }

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"],
button,
textarea,
select {
  border-color: #EEEEEE;
  background-color: #2e2e2e;
  color: #fafafa; }

input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #3F51B5;
  background-color: #3b3b3b;
  color: #ffffff; }

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #40C4FF;
  background-color: #3b3b3b;
  color: #ffffff; }

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover,
textarea:hover,
select:hover,
input[type="button"]:focus,
input[type="submit"]:focus,
button:focus,
textarea:focus,
select:focus {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #212121; }

a {
  color: #40C4FF;
  text-decoration: none; }
  a:hover {
    color: #40C4FF;
    text-decoration: underline; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #3F51B5;
  border-color: #3F51B5; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #32408f;
  border-color: #32408f; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #3F51B5; }

body {
  background: transparent radial-gradient(60% 900px at center 800px, #0084c0 0%, #32408f 100%) repeat scroll 0% 0%;
  background-attachment: fixed;
  color: #fafafa; }

.panel {
  padding: 60px 0;
  max-width: 100%;
  width: 100%;
  display: table; }
  .panel .container {
    background-color: #212121;
    padding: 20px;
    margin: 40px auto; }

.form input, .form button {
  width: 100%; }

.divider {
  border-bottom: 1px solid #424242;
  margin: 10px auto;
  width: 100%; }

label {
  height: 24px;
  padding: 6px 10px;
  line-height: 24px; }

footer {
  max-width: 100%;
  width: 100%;
  display: table;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  font-weight: 600; }

nav {
  max-width: 100%;
  width: 100%;
  display: table;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  color: #ffffff; }
  nav ul {
    margin: 0px auto; }
    nav ul li {
      margin: 0px 20px;
      display: inline-block;
      position: relative; }
      nav ul li a {
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: .2rem;
        font-weight: 600;
        color: #ffffff; }
        nav ul li a:hover {
          color: #ffffff; }

.image {
  display: block;
  background: #141414 none repeat scroll 0% 0%;
  border: 1px solid #080808;
  padding: 1rem 1.5rem;
  margin: 0px 0.2rem;
  border-radius: 4px; }
  .image img, .image .placeholder {
    width: 100%; }
  .image .placeholder {
    font-size: 3em;
    line-height: 100%;
    text-align: center;
    font-variant: small-caps; }
    .image .placeholder a {
      color: #fafafa !important;
      text-decoration: none !important; }

.thumbnails-row {
  margin: 0.2rem 0px; }

table tr {
  border-bottom: 2px solid #424242; }

table .image {
  max-width: 100px; }
  table .image .placeholder {
    font-size: 1em; }

.pagination {
  margin-top: 20px; }
  .pagination input[type="button"] {
    font-size: 1.25em; }
