<html>
	<head>
		<title>Biblioteka</title>
		<link rel='stylesheet' type='text/css' href='/css/normalize.css'/>
		<link rel='stylesheet' type='text/css' href='/css/skeleton.css'/>
		<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'/>
		<link rel='stylesheet' type='text/css' href='/css/style.css'/>
	</head>
	<body>
		<div class="navigation">
    	<nav>
				<div class="container">
			    <ul>
						<li><a href="/"><i class="fa fa-search"></i>
 Szukaj</a></li>
						<li><a href="/account"><i class="fa fa-user"></i>
 Konto</a></li>
 <li th:if="${workerMode}"><a href="/manage"><i class="fa fa-book"></i>
Biblioteka</a></li>
 <li th:if="${adminMode}"><a href="/admin"><i class="fa fa-database"></i>
Zarządzaj</a></li>
						<li><a href="/contact"><i class="fa fa-question"></i>
 Kontakt</a></li>
		      </ul>
				</div>
		  </nav>
		</div>
		<div class="panel">
			<div class="container">
				<div th:if="${message}" th:text="${message}">
				</div>
			</div>
			<div class="container">
				<div class="row">
					<h3>Dodaj plik</h3>
					<div class="divider"></div>
					<div class="six columns">
						<form class='u-full-width form' th:action="@{/upload}" enctype="multipart/form-data" method="post">
								<div class='form-row'>
									<label class='four columns'>Plik obrazu: </label><input class='eight columns' type="file" name="file"/>
								</div>
								<div class='form-row'>
									<label class='four columns'>Nazwa: </label><input class='eight columns' type="text" name="name"/>
								</div>
								<div class='form-row'>
									<input class='button-primary' type="submit" value="Dodaj"/>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js"></script>
	</body>
</html>
