<html>
	<head>
		<title>Biblioteka</title>
		<link rel='stylesheet' type='text/css' href='/css/normalize.css'/>
		<link rel='stylesheet' type='text/css' href='/css/skeleton.css'/>
		<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'/>
		<link rel='stylesheet' type='text/css' href='/css/style.css'/>
	</head>
	<body>
		<div class="wrapper">
			<div class="navigation">
	    	<nav>
					<div class="container">
				    <ul>
							<li><a href="/"><i class="fa fa-search"></i>
	 Szukaj</a></li>
							<li><a href="/account"><i class="fa fa-user"></i>
	 Konto</a></li>
	 <li th:if="${workerMode}"><a href="/manage"><i class="fa fa-book"></i>
	Biblioteka</a></li>
	 <li th:if="${adminMode}"><a href="/admin"><i class="fa fa-database"></i>
	Zarządzaj</a></li>
							<li><a href="/contact"><i class="fa fa-question"></i>
	 Kontakt</a></li>
			      </ul>
					</div>
			  </nav>
			</div>
			<div class="panel">
				<div th:if="${message}" class="container">
					<div th:text="${message}">
					</div>
				</div>
				<div class="container">

				</div>
			</div>
			<div class="push"></div>
		</div>
		<footer>
			Biblioteka 2016
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js"></script>
	</body>
</html>
