<html>
	<head>
		<title>Biblioteka</title>
		<link rel='stylesheet' type='text/css' href='/css/normalize.css'/>
		<link rel='stylesheet' type='text/css' href='/css/skeleton.css'/>
		<link rel='stylesheet' type='text/css' href='/css/font-awesome.min.css'/>
		<link rel='stylesheet' type='text/css' href='/css/style.css'/>
	</head>
	<body>
		<div class="navigation">
    	<nav>
				<div class="container">
			    <ul>
						<li><a href="/"><i class="fa fa-search"></i>
 Szukaj</a></li>
						<li><a href="/account"><i class="fa fa-book"></i>
 Konto</a></li>
 <li th:if="${workerMode}"><a href="/manage"><i class="fa fa-piechart"></i>
Wypożycz</a></li>
 <li th:if="${adminMode}"><a href="/admin"><i class="fa fa-database"></i>
Zarządzaj</a></li>
						<li><a href="/contact"><i class="fa fa-question"></i>
 Kontakt</a></li>
		      </ul>
				</div>
		  </nav>
		</div>
		<div class="panel">
			<div class="container">
				<div class="row">
					Autorzy - <a th:href="@{|/author/${id}|}" th:text="${author}"></a>
				</div>
				<div class="row">
					<h3 th:text="${author}"></h3>
					<div class='divider'></div>
					<h5>Lista książek:</h5>
					<ul>
						<li th:each="book : ${booksByAuthor}">
							<a th:href="@{|/book/${book.id}|}" th:text="${book.title}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="/js/react.min.js"></script>
		<script src="/js/react-dom.min.js"></script>
	</body>
</html>
