<html>
	<head>
		<title>Biblioteka</title>
		<link rel='stylesheet' type='text/css' href='/css/normalize.css'/>
		<link rel='stylesheet' type='text/css' href='/css/skeleton.css'/>
		<link rel='stylesheet' type='text/css' href='/css/style.css'/>
	</head>
	<body>
		<div class="navigation">
    	<nav>
				<div class="container">
			    <ul>
						<li><a href="/">Szukaj</a></li>
						<li><a href="/account">Konto</a></li>
						<li><a href="/contact">Kontakt</a></li>
		      </ul>
				</div>
		  </nav>
		</div>
		<div class="panel">
			<div class="container">
				<div class="row">
					Autorzy - <a th:href="@{|/author/${id}|}" th:text="${author}"></a>
				</div>
				<div class="row">
					<h3 th:text="${author}"></h3>
					<h4>Lista książek:</h4>
					<ul>
						<li th:each="book : ${booksByAuthor}">
							<a th:href="@{|/book/${book.id}|}" th:text="${book.title}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="/js/react.min.js"></script>
		<script src="/js/react-dom.min.js"></script>
	</body>
</html>
