<html>
	<head>
		<title>Biblioteka</title>
		<link rel='stylesheet' type='text/css' href='/css/normalize.css'/>
		<link rel='stylesheet' type='text/css' href='/css/skeleton.css'/>
		<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'/>
		<link rel='stylesheet' type='text/css' href='/css/style.css'/>
	</head>
	<body>
		<div class="navigation">
    	<nav>
				<div class="container">
			    <ul>
						<li><a href="/"><i class="fa fa-search"></i>
 Szukaj</a></li>
						<li><a href="/account"><i class="fa fa-user"></i>
 Konto</a></li>
 <li th:if="${workerMode}"><a href="/manage"><i class="fa fa-book"></i>
Wypożycz</a></li>
 <li th:if="${adminMode}"><a href="/admin"><i class="fa fa-database"></i>
Zarządzaj</a></li>
						<li><a href="/contact"><i class="fa fa-question"></i>
 Kontakt</a></li>
		      </ul>
				</div>
		  </nav>
		</div>
		<div class="panel">
			<div class="container">
				<div th:if="${message}" th:text="${message}">
				</div>
			</div>
			<div class="container">
				<div class="row">
					Książki - <a th:href="@{|/author/${author.id}|}" th:text="${author.author}"></a> - <a th:href="@{|/book/${id}|}" th:text="${title}"></a>
				</div>
				<div class="row">
					<h3 th:text="${title}"></h3>
					<div class='divider'></div>
					<label>Autor:</label><p th:text="${author.author}"></p>
					<label>Ilość wypożyczeń:</label><p th:text="${timesLoaned}"></p>
					<label>Liczba egzemplarzy:</label><p th:text="${numberOfCopies}"></p>
					<div th:if="${workerMode}" class='divider'></div>
					<h5 th:if="${workerMode}">Lista egzemplarzy:</h5>
					<ul th:if="${workerMode}">
						<li th:each="copy : ${copies}">
							<a th:href="@{|/copy/${copy.id}|}" th:text="@{|Egzemplarz id. ${copy.id}|}"></a>
						</li>
					</ul>
				</div>
				<div th:if="${message}" th:text="${message}">
				</div>
			</div>
		</div>
		<script src="/js/react.min.js"></script>
		<script src="/js/react-dom.min.js"></script>
	</body>
</html>
