<html>
	<head>
		<title>Biblioteka</title>
		<link rel='stylesheet' type='text/css' href='/css/normalize.css'/>
		<link rel='stylesheet' type='text/css' href='/css/skeleton.css'/>
		<link rel='stylesheet' type='text/css' href='/css/style.css'/>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h3 th:text="${title}"></h3>
				<p th:text="${author}"></p>
			</div>
		</div>
		<script src="/js/react.min.js"></script>
		<script src="/js/react-dom.min.js"></script>
	</body>
</html>
