<html>
	<head>
		<title>Biblioteka</title>
		<link rel='stylesheet' type='text/css' href='/css/normalize.css'/>
		<link rel='stylesheet' type='text/css' href='/css/skeleton.css'/>
		<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'/>
		<link rel='stylesheet' type='text/css' href='/css/style.css'/>
	</head>
	<body>
		<div class="navigation">
    	<nav>
				<div class="container">
			    <ul>
						<li><a href="/"><i class="fa fa-search"></i>
 Szukaj</a></li>
						<li><a href="/account"><i class="fa fa-user"></i>
 Konto</a></li>
 <li th:if="${workerMode}"><a href="/manage"><i class="fa fa-book"></i>
Wypożycz</a></li>
 <li th:if="${adminMode}"><a href="/admin"><i class="fa fa-database"></i>
Zarządzaj</a></li>
						<li><a href="/contact"><i class="fa fa-question"></i>
 Kontakt</a></li>
		      </ul>
				</div>
		  </nav>
		</div>
		<div class="panel">
			<div class="container">
				<div th:if="${message}" th:text="${message}">
				</div>
			</div>
			<div class="container">
				<div class="row">
					<h3>Kontakt</h3>
					<p>biblioteka@mail.pl</p>
				</div>
			</div>
		</div>
		<script src="/js/react.min.js"></script>
		<script src="/js/react-dom.min.js"></script>
	</body>
</html>
