<html>
  <head>
    <title>Biblioteka</title>
    <link rel='stylesheet' type='text/css' href='/css/normalize.css'/>
    <link rel='stylesheet' type='text/css' href='/css/skeleton.css'/>
    <link rel='stylesheet' type='text/css' href='/css/style.css'/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h3>Biblioteka</h3>
        <p>Witaj na stronie Biblioteki.</p>
      </div>
      <div id="booksApp">
      </div>
    </div>
    <script src="/js/react.min.js"></script>
    <script src="/js/react-dom.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
