<html>
	<head>
		<title>Biblioteka</title>
		<link rel='stylesheet' type='text/css' href='/css/normalize.css'/>
		<link rel='stylesheet' type='text/css' href='/css/skeleton.css'/>
		<link rel='stylesheet' type='text/css' href='/css/style.css'/>
	</head>
	<body>
		<div class="navigation">
    	<nav>
				<div class="container">
			    <ul>
						<li><a href="/">Szukaj</a></li>
						<li><a href="/account">Konto</a></li>
						<li><a href="/contact">Kontakt</a></li>
		      </ul>
				</div>
		  </nav>
		</div>
		<div class="panel">
			<div class="container">
				<div th:if="${message}" th:text="${message}">
				</div>
				<div th:if="${param.error}">
						Niepoprawny login i hasło.
				</div>
				<div th:if="${param.logout}">
						Wylogowano pomyślnie.
				</div>
				<div class="row">
					<div class="six columns">
						<h3>Logowanie</h3>
						<form class='u-full-width form' th:action="@{/login}" method="post">
		            <div class='form-row'>
									<label>Login: </label><input type="text" name="username"/>
								</div>
		            <div class='form-row'>
									<label>Hasło: </label><input type="password" name="password"/>
								</div>
								<div class='form-row'>
									<input class='button-primary' type="submit" value="Zaloguj"/>
								</div>
		        </form>
					</div>
					<div class="six columns">
						<h3>Rejestracja</h3>
						<form class='u-full-width form'  th:action="@{/register}" method="post">
								<div class='form-row'>
									<label>Login: </label><input type="text" name="username"/>
								</div>
								<div class='form-row'>
									<label>Hasło: </label><input type="password" name="password"/>
								</div>
								<div class='form-row'>
									<label>Imię: </label><input type="text" name="firstname"/>
								</div>
								<div class='form-row'>
									<label>Nazwisko: </label><input type="text" name="secondname"/>
								</div>
								<div class='form-row'>
									<input class='button-primary' type="submit" value="Zarejestruj"/>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/react.min.js"></script>
		<script src="/js/react-dom.min.js"></script>
	</body>
</html>
